.subscription{
    background-image: linear-gradient(rgba(226,90,83,.4),rgba(226,90,83,.4)), url("../../../assets-candy/fondo_contacto.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 2em;
}

.huevo{
    background-color: rgba(164,217,214,.8);
    border-radius: 20px;
    border: #FBF5E8 .5em solid;
    text-align: center;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
    padding: 0 1em 1em 1em;
}

.huevo-dialog{
    background-color: #FBF5E8;
    margin: 0 auto;
    padding: 1em;
    width: 50%;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgb(0 0 0 / 20%);
    opacity: 0;
    transition: opacity 4s;
    
}

.huevo-image{
    margin-bottom: -2em;
}

.huevo img.huevo-image:hover ~ .huevo-dialog{
    /* display: block; */
    opacity: 1;
}

.subscription-mail{
    width: 30%;
    margin: 0 auto;
    color: #FBF5E8;
}

.subscription-input{
    box-shadow: 2px 2px 50px rgba(251,245,232,0.1);
}

.btn-subscription{
    margin-top: .5em;
}

.mensaje{
    padding: .8em;
    color: #FBF5E8;
    background-color: #E25A53;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
}

@media (max-width: 992px){
    .subscription-mail{
        width: 100%;
    }

    .huevo-dialog{
        width: 100%;
    }

    .mensaje{
        width: 100%;
    }

}