<!-- <div class="container-fluid subscription">
    <div class="huevo">
        <img class="huevo-image" src="../../../assets-candy/brands/huevo.svg" alt="" width="250">
        <div class="huevo-dialog">
            ¿Queee tal?, soy Huevo, y te cuento un secreto, para recibir todas nuestras ofertas solo debes colocar tu
            correo
        </div>
    </div>
    <div class="form-group mail-subscription">
        <label for="correo" class="color-candy-primary">Recibe siempre en tu correo nuestras ofertas</label>
        <div class="input-group mb-1">
            <span class="input-group-text" id="spancorreo">
                <fa-icon [icon]="icons.mail"></fa-icon>
            </span>
            <input type="text" class="form-control" placeholder="Correo electrónico" [(ngModel)]="mail">
        </div>
        <button class="btn btn-primary" (click)="sendSubscription()">Adherirme</button>
    </div>
</div> -->
<!-- <alert #alertSubscription></alert> -->

<div class="container-fluid subscription">
    <div class="container text-center">
        <p class="mensaje mb-3">Subscribete a nuestra lista de ofertas candyMarket, y enteráte de todo lo que tenemos
            para ofrecerte cada semana...
        </p>
        <!-- <div class="huevo mb-3">
            <img class="huevo-image" src="../../../assets-candy/brands/huevo.svg" alt="" width="250">
            <div class="huevo-dia log">
                ¿Queee tal?, soy Huevo, y te cuento un secreto, para recibir todas nuestras ofertas solo debes
                colocar tu
                correo
            </div>
        </div> -->
        <div class="subscription-mail">
            <div class="form-group">
                <label for="correo">Correo Electrónico</label>
                <input type="text" name="correo" id="correo" class="form-control subscription-input">
                <div class="w-100">
                    <button class="btn bg-candy-fourth btn-subscription">Adherirme</button>
                </div>
            </div>
        </div>
    </div>
</div>