<!--Slide-boxes-->
<div class="box">
    <!--img-box-->
    <div class="slide-img">
        <img [src]="product.img"
            alt="img">
        <!--overlayer-->
        <div class="overlay">
            <!--buy-btn-->
            <!-- <a href="#" class="buy-btn">Compra ahora</a> -->
            <span class="price">$ {{product.price}} </span><br>
            <span class="perPrice">x und</span>
        </div>
    </div>
    <!--detail-box-->
    <div class="detail-box">
        <!--Type-->
        <div class="type">
            <a href="#">{{product.name.toUpperCase()}}</a>
            <span>{{product.description}}</span>
        </div>
        <!--price-->
    </div>
</div>
