<p>product-view works!</p>
<button class="btn btn-primary">Tito</button>
<button class="btn btn-primary">El bambino</button>

<ul id="autoWidth" class="cs-hidden">

    <!--1st slide-->
    <li class="item-a">
        <!--Slide-boxes-->
        <div class="box">
            <!--img-box-->
            <div class="slide-img">
                <img src="https://via.placeholder.com/150x150" alt="img">

                <!--overlayer-->
                <div class="overlay">
                    <!--but-btn-->
                    <a href="#" class="buy-btn">Buy Now</a>
                </div>
            </div>
            <!--detail-box-->
            <div class="detail-box">
                <!--Type-->
                <div class="type"></div>
                <a href="#">Candy Shop</a>
                <span>New Arrivals</span>
            </div>
            <!--price-->
            <a href="#" class="price">$50</a>
        </div>
    </li>

    <!--2nd slide-->
    <li class="item-b">
        <!--Slide-boxes-->
        <div class="box">
            <!--img-box-->
            <div class="slide-img">
                <img src="https://via.placeholder.com/150x150" alt="img">

                <!--overlayer-->
                <div class="overlay">
                    <!--but-btn-->
                    <a href="#" class="buy-btn">Buy Now</a>
                </div>
            </div>
            <!--detail-box-->
            <div class="detail-box">
                <!--Type-->
                <div class="type"></div>
                <a href="#">Candy Shop</a>
                <span>New Arrivals</span>
            </div>
            <!--price-->
            <a href="#" class="price">$50</a>
        </div>
    </li>

    <!--3rd slide-->
    <li class="item-c">
        <!--Slide-boxes-->
        <div class="box">
            <!--img-box-->
            <div class="slide-img">
                <img src="https://via.placeholder.com/150x150" alt="img">

                <!--overlayer-->
                <div class="overlay">
                    <!--but-btn-->
                    <a href="#" class="buy-btn">Buy Now</a>
                </div>
            </div>
            <!--detail-box-->
            <div class="detail-box">
                <!--Type-->
                <div class="type"></div>
                <a href="#">Candy Shop</a>
                <span>New Arrivals</span>
            </div>
            <!--price-->
            <a href="#" class="price">$50</a>
        </div>
    </li>

    <!--4th slide-->
    <li class="item-c">
        <!--Slide-boxes-->
        <div class="box">
            <!--img-box-->
            <div class="slide-img">
                <img src="https://via.placeholder.com/150x150" alt="img">

                <!--overlayer-->
                <div class="overlay">
                    <!--but-btn-->
                    <a href="#" class="buy-btn">Buy Now</a>
                </div>
            </div>
            <!--detail-box-->
            <div class="detail-box">
                <!--Type-->
                <div class="type"></div>
                <a href="#">Candy Shop</a>
                <span>New Arrivals</span>
            </div>
            <!--price-->
            <a href="#" class="price">$50</a>
        </div>
    </li>

    <!--5th slide-->
    <li class="item-c">
        <!--Slide-boxes-->
        <div class="box">
            <!--img-box-->
            <div class="slide-img">
                <img src="https://via.placeholder.com/150x150" alt="img">

                <!--overlayer-->
                <div class="overlay">
                    <!--but-btn-->
                    <a href="#" class="buy-btn">Buy Now</a>
                </div>
            </div>
            <!--detail-box-->
            <div class="detail-box">
                <!--Type-->
                <div class="type"></div>
                <a href="#">Candy Shop</a>
                <span>New Arrivals</span>
            </div>
            <!--price-->
            <a href="#" class="price">$50</a>
        </div>
    </li>

    <!--6th slide-->
    <li class="item-c">
        <!--Slide-boxes-->
        <div class="box">
            <!--img-box-->
            <div class="slide-img">
                <img src="https://via.placeholder.com/150x150" alt="img">

                <!--overlayer-->
                <div class="overlay">
                    <!--but-btn-->
                    <a href="#" class="buy-btn">Buy Now</a>
                </div>
            </div>
            <!--detail-box-->
            <div class="detail-box">
                <!--Type-->
                <div class="type"></div>
                <a href="#">Candy Shop</a>
                <span>New Arrivals</span>
            </div>
            <!--price-->
            <a href="#" class="price">$50</a>
        </div>
    </li>
</ul>