<!--Slide-boxes-->
<div class="box">
    <!--img-box-->
    <div class="slide-img">
        <img [src]="product.img"
            alt="img">
        <!--overlayer-->
        <div class="overlay">
            <!--buy-btn-->
            <a href="#" class="buy-btn">Buy Now</a>
        </div>
    </div>
    <!--detail-box-->
    <div class="detail-box">
        <!--Type-->
        <div class="type">
            <a href="#">{{product.name}}</a>
            <span>{{product.description}}</span>
        </div>
        <!--price-->
        <a href="#" class="price">{{product.price}}</a>
    </div>
</div>