<nav class="container-fluid navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler bg-candy-primary pt-2 pb-2 color-candy-secondary" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon bg-candy-fourth"></span>
      <span class="toggler-icon bg-candy-fourth"></span>
      <span class="toggler-icon bg-candy-fourth"></span>
    </button>
    <a href="" class="viewLogoMovil">
      <img src="../../../assets/brands/logo_comp.svg" alt="" srcset="" width="100">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navItems">
        <li class="nav-item nav-item-link">
          <a class="nav-link nav-link-menu" href="#">Nosotros</a>
        </li>
        <li class="nav-item nav-item-link">
          <a class="nav-link nav-link-menu" href="#">Cátalogo</a>
        </li>
        <li class="nav-item nav-item-link logo">
          <a href="" class="nav-link">
            <img src="../../../assets/brands/logo_comp.svg" alt="" width="100">
          </a>
        </li>
        <li class="nav-item nav-item-link">
          <a class="nav-link nav-link-menu" href="#">Empresa</a>
        </li>
        <li class="nav-item nav-item-link">
          <a class="nav-link nav-link-menu" href="#">Contacto</a>
        </li>
        <li class="nav-item mt-2 img-menu bg-candy-primary">
          <img class="image-dialog" src="../../../assets/brands/turron.svg" alt="" width="100">
          <div class="bg-candy-third img-menu-dialog">
            Soy turrón, ¡Bienvenido!
          </div>
        </li>
      </ul>
    </div>
    <div class="turron-pc">
      <img class="turron-image" src="../../../assets/brands/turron.svg" alt="" width="90">
      <div class="turron-dialog">
        Soy turrón, ¡Bienvenid@!
      </div>
    </div>
  </div>
</nav>