<div class="container-fluid bg-candy-primary">
   <nav class="container mediaContainer">
      <ul class="media-ul">
        <li class="media">
          <a class="social-media" href="https://www.instagram.com/candymarket.ar/"><img src="https://img.icons8.com/metro/26/000000/instagram-new.png"/></a>
          <a class="social-media" href="https://www.facebook.com/Candymarket.ar/"><img src="https://img.icons8.com/android/26/000000/facebook-new.png"/></a>
        </li>
      </ul>
      <div ngbDropdown class="nav-item-dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle color-candy-third" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../../../assets/brands/carro.svg" alt="" width="50">
          Cátalogo
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item color-candy-primary" href="#">Mi cuenta</a>
          <a class="dropdown-item color-candy-primary" href="#">Mis favoritos</a>
          <a class="dropdown-item color-candy-primary" href="#">Mis Pedidos</a>
          <a class="dropdown-item color-candy-primary" href="#">Mi Carrito</a>
        </div>
      </div>
    </nav>
  </div>