.container{
    width: 100%;
    margin: 0px auto;
}

.nav-item-dropdown{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;

}

.mediaContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: .5em;
}
.media{
    display: flex;
    justify-content: space-between;
}

.media-ul{
    margin: 0;
    padding: 0;
}

.social-media{
    display:flex;
    justify-content: space-between;
    margin: .1em .2em;
}


@media (max-width: 660px){

    .media{
        width: 100%;
        display: flex;
        justify-content: space-between;

    }
    .social-media{
        width: 100%;
        display:flex;
        justify-content: space-between;
    }
    
    
}
