<div class="container">
   <nav class="mediaContainer">
      <ul>
        <li class="media">
          <a class="social-media" href="https://www.instagram.com/candymarket.ar/"><img src="https://img.icons8.com/metro/26/000000/instagram-new.png"/></a>
          <a class="social-media" href="https://www.facebook.com/Candymarket.ar/"><img src="https://img.icons8.com/android/26/000000/facebook-new.png"/></a>
        </li>
      </ul>
      <li ngbDropdown class="nav-item-dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Catalogo</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Mi cuenta</a>
          <a class="dropdown-item" href="#">Mis favoritos</a>
          <a class="dropdown-item" href="#">Mis Pedidos</a>
          <a class="dropdown-item" href="#">Mi Carrito</a>
        </div>
      </li>
    </nav>
  </div>
<!--

  Searchbar 


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
-->